@{
    ViewData["Title"] = "Home Page";
}

   

<div class="para">
    <div id="intro">
        <h1>Data Science</h1>
        <br />
        <h2>Data Scientist: The Sexiest Job of the 21st Century. Thomas H. Davenport and D.J. Patil, 2012.</h2>
    </div>
</div>
<div class="para"></div>



<div class="container-fluid">
    <div class="row" style="">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="q1 intro" style="height:25em; background-image:url(/images/drone.jpg);  "/>
            <figure>
                <figcaption>
                    <h1>Artificial Intelligence</h1><p1>
                        Artificial intelligence is the general field of “intelligent-seeming algorithms” of which machine learning is the leading frontier at the moment.
                    </p1>
                    <br /> <button class="button button1 " onclick="location.href='https://towardsdatascience.com/role-of-data-science-in-artificial-intelligence-950efedd2579'">Read More</button>
                </figcaption>
            </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="q1 intro" style="height:25em; background-image:url(/images/deep.png); padding:20px;">
            <figure>
                <figcaption>
                    <h1>Machine Learning</h1> <p1>
                        Machine learning is a branch of artificial intelligence where a class of
                        data-driven algorithms enables software applications to become highly accurate in predicting outcomes without any need for explicit programming
                    </p1>
                    <br /> <button class="button button1 " onclick="location.href='https://www.edx.org/course/machine-learning-data-science-analytics-1'">Read More</button>
                </figcaption>
            </figure>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="q1" style="height:25em;background-image:url(/images/stat.jpg); padding:20px; ">
            <figure>
                <figcaption>
                    <h1>Statistics</h1><p1>
                        Statistics is a broad field with applications in many industries.
                        Wikipedia defines it as the study of the collection, analysis, interpretation, presentation, and organization of data. Therefore, it shouldn’t be a surprise that data scientists need to know statistics.
                    </p1>
                    <br /> <button class="button button1 " onclick="location.href='https://elitedatascience.com/learn-statistics-for-data-science'">Read More</button>
                </figcaption>
            </figure>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="q1" style="height:25em; background-image:url(/images/program.jpg); padding:20px; ">
            <figure>
                <figcaption>
                    <h1>Programming Languages</h1> <p1>
                        With a high demand for Data Scientists in industries, there is a need for people who possess
                        the required skills in order to become proficient in this field. Besides mathematical skills, there is a requirement for programming expertise.
                    </p1>
                    <br /> <button class="button button1 " onclick="location.href='https://medium.com/datadriveninvestor/top-6-data-science-programming-languages-for-2019-39ba1b6819a8'">Read More</button>
                </figcaption>
            </figure>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="q1" style="height:25em;background-image:url(/images/data.jpg); padding:20px; ">
            <figure>
                <figcaption>
                    <h1>Data Analysis</h1><p1>
                        Data analysis is the process of evaluating data using analytical and statistical tools to discover useful
                        information and aid in business decision making. There are a several data analysis methods including data mining, text analytics, business intelligence and data visualization.
                    </p1>
                    <br /> <button class="button button1 " onclick="location.href='https://towardsdatascience.com/tagged/data-analysis'">Read More</button>
                </figcaption>
            </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="q1" style="height:25em; background-image:url(/images/dvisual.jpg); padding:20px; ">

            <figure>
                <figcaption>
                    <h1>Data Visualisation</h1> <p1> <br />Data visualisation how-to's, <br /> latest info <br /> trending articles</p1>
                    <br /> <button class="button button1 " onclick="location.href='https://towardsdatascience.com/data-visualization/home'">Read More</button>
                </figcaption>
            </figure>
        </div>

    </div>
</div>

<div class="para"></div>


<div class="row row-no-gutters">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <iframe width="" height="616" src="https://www.youtube.com/embed/0jQ25PSyb_E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 100%;"></iframe>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="grid-column-gap:0px;">
        <iframe width="" height="616" src="https://www.youtube.com/embed/X3paOmcrTjQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen" style="width:100%; "></iframe>
    </div>
</div>






